body {
  background-color: #0C8691;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board-container {
  display: grid;
  grid-template-columns: repeat(8, 70px);
}

.square {
  min-width: 70px;
  min-height: 70px;
  /* border: solid grey 1px; */
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;  
}

div[grey="true"] {
  /* background-color: #000105; */
  background-color: black;
}

div[grey="false"] {
  /* background-color: #FDFFFA; */
  background-color: ivory;
}

.piece {
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  /* box-shadow: 2px 2px 5px 0px rgb(43, 154, 158); */
  box-shadow: inset 0 0 20px rgb(43, 154, 158);
}

div[color="red"] {
  /* background-color: #B00C17; */
  /* background-color: firebrick; */
  background-color: red;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  /* box-shadow: 2px 2px 5px 0px rgb(43, 154, 158); */
  box-shadow: inset 0 0 20px rgb(43, 154, 158);
}

div[color="white"] {
  /* background-color: #FDFFFA; */
  /* background-color: ivory; */
  background-color: white;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  /* box-shadow: 2px 2px 5px 0px rgb(43, 154, 158); */
  box-shadow: inset 0 0 20px rgb(43, 154, 158);
}

div[color="yellow"] {
  /* background-color: #FDFFFA; */
  /* background-color: ivory; */
  background-color: yellow;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  /* box-shadow: 2px 2px 5px 0px rgb(43, 154, 158); */
  box-shadow: inset 0 0 20px rgb(43, 154, 158);
}

div[selected] {
  background-color: yellow;
}

div[king] {
  background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
}